.item {
	width: 400px;
	height: 50px;
	background-image: linear-gradient(to right, red, yellow);

	margin: auto;
	display: flex;
	margin-top: 10px;
}

.item.active {
	background-image: linear-gradient(to right, black, red);
}
